thead{
  text-align: center;
}
td {
  text-align: left;
}
/* th {
  background-color: black;
  color: white;
} */

.container{
  margin: 4%;
}
/* 
Table{
  width: 50px;
} */

/* .incomestatement{
  width: 50%;
  text-align: center;
} */
.incomestatement {
 height: 300px;
 width: 40%;
 padding: 0px;
 margin: 0px auto 0px auto;
 overflow: auto;
 border: 1px solid black;
}

/* div.incomestatement {
  border-style: double;
} */