/* .form-control{
  text-align: center;
  align: center;
  display: inline-block;
  float: none;
}
*/
/* .home {
  justify-content: center;
}  */

/* .panels > div {
  border: 1px solid black;
} */

.panels {
  text-align: center;
}

.panels-financialstatments{
  display: flex;
}